.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttons {
  height: 50px;
  width: 80px;
}

.container {
  max-width: 100%;
}

.sticky-column {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0
}

.history-container {
  border: 1px solid #eeccee;
  overflow-wrap: break-word;
  height: 400px;
  overflow-y: scroll;
  resize: vertical;
}

.rolls-container {
  height: 300px;

  overflow-y: scroll;
  resize: vertical;
}

.saved-rolls-container {
  table-layout: fixed;
  overflow-wrap: break-word;
  height: 300px;
  overflow-y: scroll;
  resize: vertical;
}

td{
  width: 100px;

}

.wide-td{
  width: 100px;
}